[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pyinstaller = "*"
pyqt5-tools = "*"

[packages]
requests = "*"
inject = "*"
dataclasses = "*"
PyQt5 = "*"

[requires]
python_version = "3.6"
